<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="20th_Oct_Suite">
  <test thread-count="5" name="20th_Test">
    <classes>
      <class name="testcases.Inventory_Page_Test"/>
      <class name="testcases.LoginPage_Test"/>
      <class name="testcases.Checkout_StepTwo_Page_Test"/>
      <class name="testcases.Cart_page_Test"/>
      <class name="testcases.Checkout_StepOne_Page_Test"/>
      <class name="testcases.Complete_Page_Test"/>
    </classes>
  </test> <!-- 20th_Test -->
</suite> <!-- 20th_Oct_Suite -->
